@font-face{
    font-family:Caveat;
    src: url('../fonts/Caveat-Regular.ttf');
}
@font-face{
    font-family: Anton;
    src: url('../fonts/Anton-Regular.ttf');
}
@font-face{
    font-family: Parisienne;
    src:url('../fonts/Parisienne-Regular.ttf')
}
body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    color:  #fdfbfb;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(
        115deg,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.9)
      ),
      url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    position: relative;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}
header > h1{
    padding-top: 20px ;
    font-family: Caveat;
    z-index: 1;
    text-transform: capitalize;
    color: #00B4D8;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 0px;
    align-self: center;
}
header > p{
    font-family: Caveat;
    font-size: 20px;
    padding-top:0px;
    align-self: center;
    margin-bottom: 0px;
    text-transform: capitalize;
    align-self: center;
}
.form-container{
    background-color: #000000;
    border-width: 1px;
    margin-left:20%;
    margin-right:20%;
    opacity: .9 ;
    border-radius: 5px;
}
form{
    margin: 20px;
    padding-top: 30px;
    padding-bottom: 30px;  
}
label{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
}
input{
    margin-top: 6px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #fdfbfb;
    border-width: 0px;
    padding: 8px;
    border-color: black;
}
select{
    border-radius: 3px;
    margin-top: 6px;
    margin-bottom: 10px;
    background-color: #fdfbfb;
}
textarea{
    border-radius: 3px;
    margin-top: 10px;
}
#radio-form{
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
}
#radio-label{
    padding-bottom: 7px;
}
#radio-form label{
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-transform: capitalize;
}
#radio-form label input{
    margin-right: 10px;
    background-color: blue;
}
#submit{
    margin: 20px 0px 5px 0px;
    width: 100%;
    background-color: green;
    border-radius: 5px;
    border-width: 0px;
    height: 25px;
    color: #fdfbfb;
}
#check-form{
    margin-top: 15px;
    margin-bottom: ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 10px;
}
#check-form label{
    flex-direction: row-reverse;
    justify-content: start;
}
#check-form label input{
    margin-right: 15px;
}

@media(max-width: 720px){
    .form-container{
        margin-left:5%;
        margin-right:5%;
    }
}